/* ShowList.css */
body {
  background-color: #5e35b1; /* Purple color for Halloween theme */
  margin: 0; /* Remove default body margin */
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 95vh; /* Set the height to 95% of the viewport height */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.show-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Adjust the gap between cards */
  justify-content: space-around;
  flex: 1; /* Allow the show-list to take remaining vertical space */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px; /* Add margin between the last row of cards and the footer */
  margin-bottom: 20px;
}
